<p id="notice"><%= notice %></p>

<h1>Listing ALL Reviews</h1>
<p class="supertiny">&nbsp;</p>

  <table class="datagrid">
    <thead class="datagrid">
      <th>Source</th>
      <th>Content</th>
      <th>Username</th>
      <th>Date</th>
      <th>Rating</th>
      <th>&nbsp;</th>
    </thead>

  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= review.source %></td>
        <td><%= review.content %></td>
        <td><%= review.username %></td>
        <td><%= review.date %></td>
        <td><%= review.rating %></td>
        <td><%= link_to 'Show', review %></td>
        <td><%= link_to 'Edit', edit_review_path(review) %></td>
        <td><%= link_to 'Destroy', review, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add a new review', new_review_path %>
